# Server Config
PORT=your_go_port
# ALLOWED_ORIGIN=3000
GO_ENV=development
REDIS_URL=redis://localhost:6379/0


# DB Information
MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@localhost:27017/
MONGO_DB=tonotes
MONGO_DB_TEST=tonotes_test
TEST_MONGO_URI=mongodb://localhost:27017/
TEST_MONGO_DB=tonotes_test
MONGO_MAX_POOL_SIZE=100
MONGO_MIN_POOL_SIZE=10
MONGO_MAX_CONN_IDLE_TIME=60

# Component Collections
USER_COLLECTION=collection_name
NOTE_COLLECTION=collection_name
TODO_COLLECTION=collection_name
SESSION_COLLECTION=collection_name

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRATION_TIME=your_expiration_time
REFRESH_TOKEN_EXPIRATION_TIME=your_refresh_time

# Session Configuration

SESSION_DURATION=duration_time
